<!DOCTYPE html>
<html>
<head>
    <title>Chat realtime NodeJS demo</title>

    <link rel="stylesheet" href="/css/styles.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script>
        var socket = io("http://localhost:9999");
        $(document).ready(() => {

        })
    </script>
</head>

<body> Hello you</body>
</html>
